html, body {
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

h1 {
    background-color: lightblue;
    font-style: italic;
    margin: 0;
    padding: 8px;
}

svg {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #EAEAEA;
    cursor: crosshair;
}

svg rect {
    fill: gray;
    fill-opacity: 0.4;
    stroke: navy;
    stroke-opacity: 0.4;
}

svg #selectie {
    fill: transparent;
    
    stroke: green;
    stroke-opacity: 0.6;
    stroke-width: 2;
    stroke-dasharray: 3,3;
}

.selectat {
    stroke: red;
    stroke-opacity: 0.6;
    stroke-width: 4;
}
